// File for sass-vars.
$n: transparent
$hover: #6075f9

$btn: #315963
$text: #6E6E6E




#rightArrow
	display: inline-block
	vertical-align: top
	width: 18px
	height: 12px
	fill: #333

@keyframes rotation
	100%
		transform: rotate(360deg)



.x-2
	.header
		width: 84%
		+r(1020)
			height: 68px
		+r(800)
			width: 100%
			left: 0
			transform: none
			height: 50px
		&__logo svg
			+r(1020)
				height: 48px
				transform: none
				margin-left: -20%
				+r(800)
					height: 34px
		&__wrap
			+r(1020)
				display: none
		&__nav
			+r(1020)
				display: flex
		&__list
			+r(1020)
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
		&__item
			+r(1020)
				margin-left: 0
		&__link
			+r(1020)
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				font-size: 42px
				+cr
		&__contact
			+r(1020)
				display: flex
	.trigger
		+r(800)
			height: 34px
			width: 34px
		span
			+r(800)
				border: 1px solid #000
	.layout
		position: relative
		width: 84%
		padding: 0
		margin: 0 auto
		+r(1020)
			width: 90%
			padding: 0 25px
		+r(650)
			width: 100%
	.vitae
		width: 84%
		+r(1600)
			margin: 50px auto
		+r(1020)
			width: calc(90% - 50px)
			padding: 30px 25px
		+r(800)
			width: 100%
			margin-bottom: 0
	.carusel
		.slick-dots
			width: 84%
			+r(1600)
				padding: 0
			+r(1020)
				width: 90%
				padding: 0 25px
			+r(800)
				width: 100%
				padding: 0
	.startscreen-about .layout

		+r(1020)
			// width: 100%
			padding: 0 25px
	// .main-section
	// 	+r(1020)
	// 		margin-top: 67px
	.main-section .layout
		display: flex
		flex-direction: column
		justify-content: center
		padding-top: 0
		height: 100%
		+r(800)
			// height: auto
			width: 100%
			padding-right: 25px
			padding-left: 25px
	.lang
		+r(1100)
			margin-left: 40px
		+r(1020)
			+vcenter
			margin-left: 0
		&__link
			+r(1020)
				margin: 0 2vw
			+r(800)
				font-size: 20px
	.trigger
		+r(1020)
			position: static
			display: grid
	.squares
		+r(800)
			width: 100%
			padding: 0
	.square__content
		+r(800)
			padding: 14px 25px
	.square__header .square__title
		+r(800)
			font-size: 9vw
	.square__subtitle
		+r(800)
			font-size: 6vw
	.startscreen__img
		+r(800)
			height: 84px


