
<div class="section main-section">

	<div class="video">
		<div class="video__item">
			<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" class="video__video" id="bgvid" playsinline autoplay muted loop>
				<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
				<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">

			</video>
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" alt="" class="video__img">
		</div>
	</div>
	<div class="layout layout__big">
		<h1 class="title__main">We are<br>Pixel Force</h1>
		<p class="desc__subtitle">Game developer studio</p>
	</div>
</div>

